:root{
  --cstm-colour-pink: #FF5A65;
  --cstm-colour-yellow: #FCD448;
  --cstm-colour-purple: #CDBFEB;
  --cstm-colour-blue: #ACDEEC;

  /* --font-reg : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-sz-reg  :  small; */
}


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}