:root{
  --cstm-colour-pink: #FF5A65;
  --cstm-colour-yellow: #FCD448;
  --cstm-colour-purple: #CDBFEB;
  --cstm-colour-blue: #ACDEEC;

  /* --font-reg : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-sz-reg  :  small; */
}


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  /* margin-inline: 6vw; */
}

/* COVER ARTICLE STYLE */
#hero {
  margin-inline: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
}

#hero>video{
  width: 100vw;
}