:root{
  --cstm-colour-pink: #FF5A65;
  --cstm-colour-yellow: #FCD448;
  --cstm-colour-purple: #CDBFEB;
  --cstm-colour-blue: #ACDEEC;

  /* --font-reg : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-sz-reg  :  small; */
}


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bttn_fk {
  padding: 5px 10px 7px 10px;

  border-radius: 20px;

  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.button:hover {
  border-color: beige;
}

.gutters{
  margin-inline: 6vw;
}

/* GRID RULES */
/*=============================================================================*/
._3x2 {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

._2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._1x2 {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* ARTICLE 1 : COVER STYLE */
/*=============================================================================*/

#hero {
  margin-inline: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
}

#hero>video{
  width: 100vw;
}

.bnr_atention {
  padding: 0.01REM 0 0.3REM 0;
  background-color: var(--cstm-colour-yellow);

  overflow: hidden;
  white-space: nowrap;
}

.bnr_atention span {
  display: inline-block;
  margin-right: 0.2rem; /* spacing between repeats */
  animation: ticker 10s linear infinite;
}

.bnr_atention span::after {
  content: " ⚠ATENCIÓN"; /* duplicate via CSS */
}

@keyframes ticker {
  0%   { transform: translateX(0); } 
  100% { transform: translateX(-200%); }
}

/* ARTICLE 2 : Medula STYLE */
/*=============================================================================*/

.warp-row {
  display:flex;
  direction: row;
  /* flex-wrap: wrap; */
}

.medula-ttl {
  flex: 1;
  display: inline;
  position: relative;
  left: -6%;

  min-width: 330px;
}

.medula-ttl > div:nth-child(1) {
  position: relative;
  left: 2rem;
  top: -1.3rem;
}
.medula-ttl > div:nth-child(2) {
  position: relative;
  left: 5rem;
  top: -2.1rem;
}

.medula-ttl > div:nth-child(3) {
  position: relative;
  left: 7.5rem;
  top: -2.7rem;
}

#medula-p1 {
  flex: 1;
  min-width: 380px;
}

.medula-card {
  flex: 1;
  margin-top: 2rem;
  position: relative;
}

.medula-card > img {
  /* margin-top: 1.2rem; */
  width: 80px;
  height: auto;
}

svg {
  z-index: 2;
  position: absolute;
  top: -3rem;
  left: 6rem;
}

circle {
  fill : transparent;
}

text {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  fill: #FCD448;
  line-height: normal;
  font-size: 2rem;
  font-weight: 700;
}

/* ARTICLE 3 : RED-CPH STYLE */
/*=============================================================================*/
#rc-tittle {
  color: #ACDEEC;
  margin: 0;
  padding: 1.2rem 0 1.2rem 0;
}

.sashed {
  padding: 0 18% 0 18%;
}


/* ARTICLE N : FOOTER STYLE */
/*=============================================================================*/
#footer {
  margin: 2rem 0 6rem 0;
}

#footer video{
  width: 40vw;
}

#footer img {
  margin-top: 1.2rem;
  width: 40px;
  height: 42px;
}

#footer .bttn_fk {
  padding: 0.6rem 0.8rem;
}

/*=============================================================================*/

.pink {
  background-color: var(--cstm-colour-pink);
}

.yellow {
  background-color: var(--cstm-colour-yellow);
}

.purple {
  background-color: var(--cstm-colour-purple);
}

.blue {
  background-color: var(--cstm-colour-blue);
}

.white {
  background-color: #FFFFFF;
}

.pink-font {
  color: var(--cstm-colour-pink);
}

.yellow-font {
  color: var(--cstm-colour-yellow);
}

.purple-font {
  color: var(--cstm-colour-purple);
}

.blue-font {
  color: var(--cstm-colour-blue);
}

.white-font {
  color: #FFFFFF;
}

.black-font {
  color: #000000;
}