:root{
  --cstm-colour-pink: #FF5A65;
  --cstm-colour-yellow: #FCD448;
  --cstm-colour-purple: #CDBFEB;
  --cstm-colour-blue: #ACDEEC;

  /* --font-reg : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-sz-reg  :  small; */
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

article {
  padding: 2rem 0;
}

.bttn_fk {
  padding: 5px 10px 7px 10px;

  border-radius: 20px;

  width: fit-content;
  height: fit-content;
}

.h_center {
  margin: 0 auto;
}

.button:hover {
  border-color: beige;
}

.gutters{
  margin-inline: 6vw;
}

/* GRID RULES */
/*=============================================================================*/
._3x2 {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

._2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._4x4 {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(44vw, 1fr));
}

/* GRID RULES */
/*=============================================================================*/
._flex_cont_cntr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

._stats_flex_wrap {
  gap: 22rem;
  flex-wrap: wrap;
}

@media (max-width: 877px) {
  ._stats_flex_wrap {
    gap: 4rem;
  }
}

/* ARTICLE 1 : COVER STYLE */
/*=============================================================================*/

#hero {
  margin-inline: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
}

#hero>video{
  width: 100vw;
}

.bnr_atention {
  padding: 0.01REM 0 0.3REM 0;
  background-color: var(--cstm-colour-yellow);

  overflow: hidden;
  white-space: nowrap;
}

.bnr_atention span {
  display: inline-block;
  margin-right: 0.2rem; /* spacing between repeats */
  animation: ticker 10s linear infinite;
}

.bnr_atention span::after {
  content: " ⚠ATENCIÓN"; /* duplicate via CSS */
}

@keyframes ticker {
  0%   { transform: translateX(0); } 
  100% { transform: translateX(-200%); }
}

/* ARTICLE 2 : Medula STYLE */
/*=============================================================================*/

.wrap-row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.medula-ttl {
  flex: 1;
  display: inline;
  position: relative;
  left: -6%;

  min-width: 330px;
}

.medula-ttl > div:nth-child(1) {
  position: relative;
  left: 2rem;
  top: -1.3rem;
}

.medula-ttl > div:nth-child(2) {
  position: relative;
  left: 5rem;
  top: -2.1rem;
}

.medula-ttl > div:nth-child(3) {
  position: relative;
  left: 7.5rem;
  top: -2.7rem;
}

#medula-p1 {
  flex: 1;
  min-width: 380px;
}

.medula-card {
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 2rem;
  position: relative;
}

.medula-card > img {
  width: 80px;
  height: auto;
}

.medula-card > svg {
  z-index: 2;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

circle {
  fill : transparent;
}

text {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  fill: #FCD448;
  line-height: normal;
  font-size: 2rem;
  font-weight: 700;
}

#img-container {
  flex: 1;
  position: relative;
  width: 200px;
  height: 200px;
}

#medula-girl {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 27% ;
  margin: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#medula-p2 {
  flex: 1;
  max-width: 30vw;
}

#medula-pills {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

#medula-pills>div{
  flex: 1;
  /* margin: 0 0 0 6rem; */
}

/* ARTICLE 3 : RED-CPH STYLE */
/*=============================================================================*/
#rc-tittle {
  margin: 0;
  padding: 1.2rem 0 1.2rem 0;
  font-size: clamp(1.2rem,1.8vw,4rem);
}

.sashed {
  padding: 0 18% 0 18%;
}

/* DIV : DROP */
/*=============================================================================*/
.drop-anchor {
  z-index: -1;
  position: relative;
  height: 140px;
}

.drop-curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.drop-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.drop-curve .shape-fill {
  fill: var(--cstm-colour-pink);
}

#drop {
  position: relative;
  top: 60%;
  z-index: -1;
  height: 600px ;
}

@media (max-width: 900px) {
  #drop {
    top: 0;
  }
}

/* ARTICLE 4 : PERCENTAGES STYLE */
/*=============================================================================*/

#impact {
  gap: 3rem;
  flex-wrap: wrap;
}

#impact > div {
  width: min-content;
  text-align: end;
}

#impact > video {
  width: clamp(200px,10vw,350px);
}

#pie-overlap {
  position: relative;
}

#pie-overlap > img:nth-child(1) {
  width: clamp(200px,20vw,350px);
  transform: rotate(130deg);
}

#pie-overlap > img:nth-child(2) {
  position: absolute;
  top: 64%;
  left: 0;
  width: clamp(60px,6.4vw,115px);
}

#pie-overlap > p {
  position: absolute;
  top: 38%;
  left: 16%;
  font-size: clamp(1.4rem,2.5vw,3rem);
}

#pie {
  position: relative;
}

#pie > p {
  text-align: end;
  font-size: clamp(1.2rem,1.8vw,1.4rem);
  width: 12rem;
  margin-left: auto;
}

/* ARTICLE 5 : INSTRUCTIONS STYLE */
/*=============================================================================*/
#instructions {
  position: relative;
  padding-top: 0;
}

#inst-sub-ttl {
  margin: 0;
  transform: rotate(-4deg);
  position: absolute;
  margin-inline: auto; 
  width: fit-content;
  right: 50vw;
  top: -9px;
}

#inst-ttl {
  padding-top: 1.3rem;
  margin: 2rem auto;
}

#inst-ttl > h1:nth-child(2) {
  margin: 0;
}

.inst-card {
  margin-bottom: 2rem;
}

.bllt_point {
  align-items: center;
  font-size: 1.5rem;
  font-weight: 1000;
  gap: 1rem;
}

.bllt_point > div:nth-child(1) {
  padding: 5px 10px;
  border-radius: 50%;
}

.bllt_point > .bttn_fk {
  font-size: clamp(1.6rem, 5vw, 2rem);
  width: clamp(1.6rem, 5vw, 2rem);;
}

._stat_warp {
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  justify-content: flex-start;
}

.inst-card-vis > video {
  width: 200px;
}

.inst-card-hid {
  display: flex;
  flex-direction: column;
  width: clamp(200px,50vw,628px);
  text-align: left;
  gap: 0.8rem 0;
}

#fixed-h {
  height: 289px;
  z-index: -1;
}

/* ARTICLE 5 __ BANNER */
/*=============================================================================*/
.inst-bnnr {
  color: white;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.inst-bnnr > img {
  width: 80px;
}

.inst-bnnr > p {
  width: 75vw;
  margin: 1rem auto;
}

.inst-bnnr > p > span {
  font-size: 1.5rem;
}

/* ARTICLE 5 __ COMPATIBLE */
/*=============================================================================*/
.header-svg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  line-height: normal;
  font-size: clamp(2.4rem, 6vw, 3.8rem);
}

.header-svg > img {
  height: clamp(1.8rem, 4vw, 2.6rem);
  margin: auto 0.4rem;
}

.p-right, .p-left {
  width: min(95vw,600px);
  margin: 1rem auto;
}

.p-right {
  text-align: end;
}

.p-left {
  text-align: start;
}

/* ARTICLE 5 : MITOS STYLE */
/*=============================================================================*/

.mitos-ttl {
  flex: 1;
  display: inline;
  position: relative;
  left: -30%;
  min-width: 330px;
}

.mitos-ttl > div:nth-child(1) {
  position: relative;
  left: 2rem;
  top: -1.3rem;
}

.mitos-ttl > div:nth-child(2) {
  position: relative;
  left: 5rem;
  top: -2.1rem;
}

.mitos-ttl > div:nth-child(3) {
  position: relative;
  left: 7.5rem;
  top: -2.7rem;
}

._flex_warp_sashed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: min(100vw, 1400px);
  margin: 0 auto;
}

.m-card_cont {
  position: relative;
  width: 18rem;
  height: 6rem;
}

.m-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.m-card:hover {
  transform: rotateY(180deg);
}

.m-card_frnt, .m-card_back {
  position: absolute;
  height: 5rem;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  backface-visibility: hidden;
  font-weight: 650;
}

.m-card_frnt {
  color: #000;
  background-image: url('assets/gris-textura-webp.webp');
}

.m-card_back {
  color: #fff;
  background-image: url('assets/roja-textura-webp.webp');
  transform: rotateY(180deg);
}

/* ARTICLE 6 : CAll TO ACTION STYLE */
/*=============================================================================*/

.c2a-ttl {
  flex: 1;
  display: inline;
  position: relative;
  left: -30%;
  min-width: 330px;
}

.c2a-ttl > div:nth-child(1) {
  position: relative;
  left: 2rem;
  top: -1.3rem;
}

.c2a-ttl > div:nth-child(2) {
  position: relative;
  left: 4rem;
  top: -1.8rem;
}

.c2a-ttl > div:nth-child(3) {
  position: relative;
  left: 5.4rem;
  top: -2.4rem;
}

/* ARTICLE 7 : VOLUNTAD STYLE */
/*=============================================================================*/

._flex_jst_cntr {
  justify-content: center;
}

.voluntad-ttl {
  display: inline;
  position: relative;
  min-width: 330px;
  width: fit-content;
}

.voluntad-ttl > div:nth-child(1) {
  position: relative;
  left: -5vw;
  top: -1rem;
}

.voluntad-ttl > div:nth-child(2) {
  position: relative;
  left: -2vw;
  top: -1.8rem;
}

.voluntad-ttl > div:nth-child(3) {
  position: relative;
  left: 1vw;
  top: -2.4rem;
}

#dna {
  position: relative;
  top: -2rem;
  transform: rotate(90deg);
  height: clamp(150px,10vw,350px);
}

.voluntad_sash {
  width: min(85vw, 40rem);
  margin: 0 auto;
}

/* ARTICLE 8 : FORMULARIO STYLE */
/*=============================================================================*/

#formulario {
  display: flex;
  justify-content: center;
}

#formulario > form {
  display: block;
  width: min(90vw,50rem);
}

#formulario > form > div {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

#formulario > form > div > label {
  text-align: start;
}

#formulario > form > label{
  display: block;
  margin: auto;
  text-align: start;
  margin: 0 16px 1rem 16px;
}

/* ARTICLE N : FOOTER STYLE */
/*=============================================================================*/
#footer {
  margin: 2rem 0 6rem 0;
}

#footer video{
  width: 40vw;
}

#footer img {
  margin-top: 1.2rem;
  width: 40px;
  height: 42px;
}

#footer .bttn_fk {
  padding: 0.6rem 0.8rem;
}

/*=============================================================================*/

.pink {
  background-color: var(--cstm-colour-pink);
}

.yellow {
  background-color: var(--cstm-colour-yellow);
}

.purple {
  background-color: var(--cstm-colour-purple);
}

.blue {
  background-color: var(--cstm-colour-blue);
}

.white {
  background-color: #FFFFFF;
}

.pink-font {
  color: var(--cstm-colour-pink);
}

.yellow-font {
  color: var(--cstm-colour-yellow);
}

.purple-font {
  color: var(--cstm-colour-purple);
}

.blue-font {
  color: var(--cstm-colour-blue);
}

.white-font {
  color: #FFFFFF;
}

.black-font {
  color: #000000;
}