:root{
  --cstm-colour-pink: #FF5A65;
  --cstm-colour-yellow: #FCD448;
  --cstm-colour-purple: #CDBFEB;
  --cstm-colour-blue: #ACDEEC;

  /* --font-reg : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-sz-reg  :  small; */
}


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}

.gutters{
  margin-inline: 6vw;
}

/* GRID RULES */
/*=============================================================================*/
._3x2 {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

._2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._1x2 {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* COVER ARTICLE STYLE */
/*=============================================================================*/

#hero {
  margin-inline: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
}

#hero>video{
  width: 100vw;
}

.bnr_atention {
  padding: 0.01REM 0 0.3REM 0;
  font-weight: bold;
  background-color: var(--cstm-colour-yellow);
}


/* ARTICLE 3 : RED-CPH STYLE */
/*=============================================================================*/
#rc-tittle {
  color: #ACDEEC;
  margin: 0;
  padding: 1.2rem 0 1.2rem 0;
}

.sashed {
  padding: 0 18% 0 18%;
}

/*=============================================================================*/

.pink {
  background-color: var(--cstm-colour-pink);
}

.yellow {
  background-color: var(--cstm-colour-yellow);
}

.purple {
  background-color: var(--cstm-colour-purple);
}

.blue {
  background-color: var(--cstm-colour-blue);
}

.white {
  background-color: #FFFFFF;
}
  
.pink-font {
  color: var(--cstm-colour-pink);
}

.yellow-font {
  color: var(--cstm-colour-yellow);
}

.purple-font {
  color: var(--cstm-colour-purple);
}

.blue-font {
  color: var(--cstm-colour-blue);
}

.white-font {
  color: #FFFFFF;
}

.black-font {
  color: #000000;
}