.fredoka-alert {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-reg {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-bld {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quicksand-reg {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-bld {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.2rem;
  font-style: normal;
}

.annietel-reg {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-font {
  line-height: normal;
  font-size: clamp(1.6rem, 5vw, 2rem);
  font-weight: 700;
}

.subheader-font {
  line-height: normal;
  font-size: 2rem;
  font-weight: 500;
  width: min-content;
  text-align: end;
}