.fredoka-alert {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-reg {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fredoka-bld {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quicksand-reg {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.annietel-reg {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
